<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>%(DocumentTitle)</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./swagger-ui.css" >
  <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
  <style>
    html
    {
      box-sizing: border-box;
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }
    *,
    *:before,
    *:after
    {
      box-sizing: inherit;
    }
    body {
      margin:0;
      background: #fafafa;
    }
  </style>
  %(HeadContent)
</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0">
        <defs>
            <symbol viewBox="0 0 20 20" id="unlocked">
                <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
            </symbol>

            <symbol viewBox="0 0 20 20" id="locked">
                <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="close">
                <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="large-arrow">
                <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="large-arrow-down">
                <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z" />
            </symbol>


            <symbol viewBox="0 0 24 24" id="jump-to">
                <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z" />
            </symbol>

            <symbol viewBox="0 0 24 24" id="expand">
                <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" />
            </symbol>

        </defs>
    </svg>

    <div id="swagger-ui"></div>

    <!-- Workaround for https://github.com/swagger-api/swagger-editor/issues/1371 -->
    <script>
        if (window.navigator.userAgent.indexOf("Edge") > -1) {
            console.log("Removing native Edge fetch in favor of swagger-ui's polyfill")
            window.fetch = undefined;
        }
    </script>

    <script src="./swagger-ui-bundle.js"></script>
    <script src="./swagger-ui-standalone-preset.js"></script>
    <!--<script async="async" id="mini-profiler" src="~/lib/includes.js?v=4.0.0.0" data-version="4.0.0.0" data-path="/profiler/" data-current-id="865f1487-f416-4d39-87fe-723e34847577" data-ids="" data-position="left" data-authorized="true" data-max-traces="15" data-toggle-shortcut="Alt+P" data-trivial-milliseconds="2.0" data-ignored-duplicate-execute-types="Open,OpenAsync,Close,CloseAsync"></script>-->
    <script async="async" id="mini-profiler" data-version="4.0.0.0"
            data-path="/profiler/" data-resources="~/lib/profiler/" data-current-id="865f1487-f416-4d39-87fe-723e34847577"
            data-ids="" data-position="left" data-authorized="true" data-max-traces="15"
            data-toggle-shortcut="Alt+P" data-trivial-milliseconds="2.0"
            data-ignored-duplicate-execute-types="Open,OpenAsync,Close,CloseAsync"></script>

    <script>
        window.onload = function () {
            var configObject = JSON.parse('%(ConfigObject)');
            var oauthConfigObject = JSON.parse('%(OAuthConfigObject)');
            // Apply mandatory parameters
            configObject.dom_id = "#swagger-ui";
            configObject.presets = [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset];
            configObject.layout = "StandaloneLayout";
            // If oauth2RedirectUrl isn't specified, use the built-in default
            if (!configObject.hasOwnProperty("oauth2RedirectUrl"))
                configObject.oauth2RedirectUrl = window.location.href.replace("index.html", "oauth2-redirect.html");
            // Build a system
            const ui = SwaggerUIBundle(configObject);
            // Apply OAuth config
            ui.initOAuth(oauthConfigObject);
        }
    </script>




    <!-- mini profiler template -->
    <script id="profilerTemplate" type="text/x-jquery-tmpl">

        <div class="profiler-result">
            <div class="profiler-button <% if (HasDuplicateCustomTimings) { %>profiler-warning<% } %>" title="<%= Name %>">
                <span class="profiler-number">
                    <%= MiniProfiler.formatDuration(DurationMilliseconds) %> <span class="profiler-unit">ms</span>
                </span>
                <% if (HasDuplicateCustomTimings) { %><span class="profiler-nuclear">!</span><% } %>
            </div>

            <div class="profiler-popup">
                <div class="profiler-info">
                    <span class="profiler-name">
                        <%= Name %> <span class="profiler-overall-duration">(<%= MiniProfiler.formatDuration(DurationMilliseconds) %> ms)</span>
                    </span>
                    <span class="profiler-server-time"><%= MachineName %> on <%= Started ? Started.toUTCString() : '' %></span>
                </div>
                <div class="profiler-output">
                    <table class="profiler-timings">
                        <thead>
                            <tr>
                                <th></th>
                                <th title="in milliseconds">duration</th>
                                <th class="profiler-show-more" title="in milliseconds">with children</th>
                                <th class="time-from-start profiler-show-more" title="in milliseconds">from start</th>
                                <% _.each(CustomTimingStats, function($stat, $name) { %>
                                <th title="in milliseconds (call count)"><%= $name.toLowerCase() %></th>
                                <% }); %>
                            </tr>
                        </thead>
                        <tbody>
                            <%= MiniProfiler.tmpl("#timingTemplate", {timing:Root, page:_self}) %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td class="profiler-show-more" colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>

                    <% if (HasCustomTimings) { %>
                    <table class="profiler-custom-timing-overview">
                        <% _.each(CustomTimingStats, function($stat, $name) { %>
                        <tr title="<%= $stat.Count %> <%= $name.toLowerCase() %> calls spent <%= MiniProfiler.formatDuration($stat.Duration) %> ms of total request time">
                            <td class="profiler-number">
                                <%= $name %>:
                            </td>
                            <td class="profiler-number">
                                <%= MiniProfiler.formatDuration($stat.Duration / DurationMilliseconds * 100) %> <span class="profiler-unit">%</span>
                            </td>
                        </tr>
                        <% }); %>
                    </table>
                    <% } %>

                    <% if (ClientTimings) { %>
                    <table class="profiler-timings profiler-client-timings">
                        <thead>
                            <tr>
                                <th style="text-align:left">client event</th>
                                <th>duration</th>
                                <th class="profiler-show-more">from start</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(MiniProfiler.getClientTimings(ClientTimings), function($value) { %>
                            <tr class="<% if ($value.isTrivial ) { %>profiler-trivial<% } %>">
                                <td class="profiler-label"><%= $value.name %></td>
                                <td class="profiler-duration">
                                    <% if ($value.duration >= 0) { %>
                                    <span class="profiler-unit"></span><%= MiniProfiler.formatDuration($value.duration) %>
                                    <% } %>
                                </td>
                                <td class="profiler-duration time-from-start profiler-show-more">
                                    <span class="profiler-unit">+</span><%= MiniProfiler.formatDuration($value.start) %>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <% } %>

                    <div class="profiler-links">
                        <a href="<%= MiniProfiler.shareUrl(Id) %>" class="profiler-share-profiler-results" target="_blank">share</a>
                        <% _.each(CustomLinks, function($link, $name) { %>
                        <a href="<%= $link %>" class="profiler-custom-link" target="_blank"><%= $name %></a>
                        <% }); %>
                        <span class="profiler-toggleable-links">
                            <a class="profiler-toggle-hidden-columns" data-toggle-class="profiler-show-more" data-hide-text="fewer columns">
                                more columns
                            </a>
                            <% if (HasTrivialTimings) { %>
                            <a class="profiler-toggle-trivial" data-toggle-class="profiler-trivial" data-hide-text="hide trivial" title="toggles any rows with &lt; <%= TrivialMilliseconds %> ms duration">
                                show trivial
                            </a>
                            <% } %>
                        </span>
                    </div>

                </div>
            </div>

            <% if (HasCustomTimings) { %>
            <div class="profiler-queries">
                <table>
                    <thead>
                        <tr>
                            <th style="text-align:right">step<br />time from start<br />call type<br />duration</th>
                            <th style="text-align:left">call stack<br />call</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(MiniProfiler.getCustomTimings(Root), function(s, i) { %>
                        <%= MiniProfiler.tmpl("#customGapTemplate", {g:s.prevGap}) %>
                        <%= MiniProfiler.tmpl("#customTimingTemplate", {i:i, s:s}) %>
                        <% if (s.nextGap) { %>
                        <%= MiniProfiler.tmpl("#customGapTemplate", {g:s.nextGap}) %>
                        <% } %>
                        <% }); %>
                    </tbody>
                </table>
                <p class="profiler-trivial-gap-container">
                    <a class="profiler-toggle-trivial-gaps" href="#">show trivial gaps</a>
                </p>
            </div>
            <% } %>

        </div>

    </script>

    <script id="timingTemplate" type="text/x-jquery-tmpl">

        <tr class="<%= timing.IsTrivial ? 'profiler-trivial' : '' %>" data-timing-id="<%= timing.Id %>">
            <td class="profiler-label" title="<% if (timing.Name && timing.Name.length > 45 ) { %><%= MiniProfiler.safeHtml(timing.Name) %><% } %>">
                <span class="profiler-indent"><%= MiniProfiler.renderIndent(timing.Depth) %></span> <%= MiniProfiler.safeHtml(timing.Name.slice(0,45)) %><% if (timing.Name && timing.Name.length > 45 ) { %>...<% } %>
            </td>
            <td class="profiler-duration" title="duration of this step without any children's durations">
                <%= MiniProfiler.formatDuration(timing.DurationWithoutChildrenMilliseconds) %>
            </td>
            <td class="profiler-duration profiler-show-more" title="duration of this step and its children">
                <%= MiniProfiler.formatDuration(timing.DurationMilliseconds) %>
            </td>
            <td class="profiler-duration profiler-show-more time-from-start" title="time elapsed since profiling started">
                <span class="profiler-unit">+</span><%= MiniProfiler.formatDuration(timing.StartMilliseconds) %>
            </td>
            <% _.each(page && page.CustomTimingStats, function($stat, $name) { %>
            <% if (timing.CustomTimings[$name]) { %>
            <td class="profiler-duration <%= timing.HasDuplicateCustomTimings[$name] ? 'profiler-warning' : '' %>">
                <a class="profiler-queries-show" title="<%= MiniProfiler.formatDuration(timing.CustomTimingStats[$name].Duration) %> ms in <%= timing.CustomTimings[$name].length %> <%= $name %> calls<%= timing.HasDuplicateCustomTimings[$name] ? '; duplicate calls detected!': '' %>">
                    <%= MiniProfiler.formatDuration(timing.CustomTimingStats[$name].Duration) %>
                    (<%= timing.CustomTimings[$name].length %><% if (timing.HasDuplicateCustomTimings[$name]) { %><span class="profiler-nuclear">!</span><% } %>)
                </a>
            </td>
            <% } else { %>
            <td></td>
            <% } %>
            <% }); %>
        </tr>

        <% _.each(timing.Children, function($child) { %>
        <%= MiniProfiler.tmpl("#timingTemplate", {timing: $child, page: page}) %>
        <% }); %>

    </script>

    <script id="customTimingTemplate" type="text/x-jquery-tmpl">

        <tr class="<% if (i % 2 == 1) { %>profiler-odd<% } %>" data-timing-id="<%= s.ParentTimingId %>">
            <td class="profiler-info">
                <div><%= s.ParentTimingName %></div>
                <div class="profiler-number"><span class="profiler-unit">T+</span><%= MiniProfiler.formatDuration(s.StartMilliseconds) %> <span class="profiler-unit">ms</span></div>
                <div>
                    <% if (s.IsDuplicate) { %><span class="profiler-warning">DUPLICATE</span><% } %>
                    <%= s.CallType %><%= !s.ExecuteType || s.CallType == s.ExecuteType ? "" : " - " + s.ExecuteType %>
                </div>
                <div title="<% if (s.FirstFetchDurationMilliseconds) { %>first result fetched: <%= s.FirstFetchDurationMilliseconds %>ms<% } %>"><%= MiniProfiler.formatDuration(s.DurationMilliseconds) %> <span class="profiler-unit">ms</span></div>
            </td>
            <td>
                <div class="query">
                    <pre class="profiler-stack-trace"><%= s.StackTraceSnippet %></pre>
                    <pre class="prettyprint lang-<%= s.CallType %>"><code><%= _.escape(s.CommandString) %></code></pre>
                </div>
            </td>
        </tr>

    </script>

    <script id="customGapTemplate" type="text/x-jquery-tmpl">

        <tr class="profiler-gap-info<% if (g.duration < 4) { %> profiler-trivial-gaps<% } %>">
            <td class="profiler-info">
                <%= g.duration %> <span class="profiler-unit">ms</span>
            </td>
            <td class="query">
                <div><%= g.topReason.name %> &mdash; <%= g.topReason.duration.toFixed(2) %> <span class="profiler-unit">ms</span></div>
            </td>
        </tr>

    </script>

    <script id="tableTemplate" type="text/x-jquery-tmpl">
        <table class="profiler-results-index">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Sql Duration</th>
                    <th>Total Duration</th>
                    <th>Request Start</th>
                    <th>Response Start</th>
                    <th>Dom Complete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>

    <script id="rowTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td>
                <a href="${MiniProfiler.path}results?id=${Id}">${Name}</a>
            </td>
            <td class="profiler-results-index-date">${MiniProfiler.renderDate(Started)}</td>
            <td class="profiler-results-index-time">${DurationMillisecondsInSql}</td>
            <td class="profiler-results-index-time">${DurationMilliseconds}</td>
            {{if ClientTimings}}
            <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Request").Start}</td>
            <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Response").Start}</td>
            <td class="profiler-results-index-time">${MiniProfiler.getClientTimingByName(ClientTimings,"Dom Complete").Start}</td>
            {{else}}
            <td colspan="3"></td>
            {{/if}}
        </tr>
    </script>

</body>

</html>